* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #363434;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 10vh;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}
.dropdown ul {
  position: absolute;
  background: #363434;
  margin-top: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  z-index: 3;
  border-radius: 5px;
  font-size: 16px;
  top: 8.5%;
  left: 4.6%;
  opacity: 0;

  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.dropdown a {
  color: white;
  text-decoration: none;
}
.dropdown button {
  border: none;
  background: white;
  cursor: pointer;
}
.dropdown button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(5px);
}
.dropdown img {
  position: absolute;
  left: 4.6%;
  top: 1.5%;
  width: 3%;
}

.logo {
  color: white;
  left: 10%;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 2.5%;
}

nav {
  flex: 2;
}

.nav-links {
  position: relative;
  left: 11%;
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: white;
  font-size: 17px;
  text-decoration: none;
}

.cart {
  flex: 1;
  position: relative;
  left: 16.5%;
}
.cart img {
  width: 36px;
}

.signin {
  position: absolute;
  left: 20%;
  top: 20%;
}
.name {
  position: absolute;
  left: 20%;
  top: 35%;
}
.email {
  position: absolute;
  left: 20%;
  top: 45%;
}
.password {
  position: absolute;
  left: 20%;
  top: 55%;
}
.password2 {
  position: absolute;
  left: 20%;
  top: 65%;
}
.signbut {
  position: absolute;
  left: 20%;
  top: 80%;
}

.login-box input {
  width: 25%;
  height: 48px;
  border-radius: 5px;
  font-size: 16px;
  text-indent: 5%;
}

.signbut {
  display: flex;
  justify-content: space-around;
}

.login-box input[type="submit"] {
  background: linear-gradient(#0362fc, #036bfc);
  color: white;
  border-radius: 10px;
}
.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(#1f80ff, #0d76ff);
  color: white;
}
