<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styledash.css" />
    <title>Zenith</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <div class="dropdown">
          <button><img src="/list-menu.png" alt="logo" /></button>
          <ul>
            <li><a href="/phones">Phones</a></li>
            <li><a href="/laptops">Laptops</a></li>
          </ul>
        </div>
        <h4 class="logo">Zenith</h4>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a class="nav-link" href="/">Home</a></li>
          <li>
            <a class="nav-link" href="#"><img src="/avatar.png" alt=""/></a>
          </li>
          <li class="signout">
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="nav-link">Sign-out</button>
            </form>
          </li>
        </ul>
      </nav>
      <div class="cart">
        <a href="#"> <img src="/icons8-shopping-cart-32.png" alt="cart"/></a>
      </div>
    </header>

    <main>
      <section class="presentation">
        <div class="carousel-container">
          <img src="/left-arrow.png" id="prevBtn" alt="left-arrow" />
          <img src="/right-arrow.png" id="nextBtn" alt="right-arrow" />
          <div class="carousel-slide">
            <img src="/RE2Ni4z.jpg " id="lastClone" alt="" />
            <img src="/RE2NdtL.jpg" alt="" />
            <img src="/RE2Ni4z.jpg" alt="" />
            <img src="/RE2NdtL.jpg" id="firstClone" alt="" />
          </div>
        </div>
      </section>
    </main>

    <script src="/app.js"></script>
  </body>
</html>
